header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

header div.logo {
    background: url("../images/logo.png") no-repeat;
    position: relative;
    margin-left: 20px;
    height: 100%;
}
