div.container section.filters {
	position: absolute;
	height: 70px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	border-radius: 4px;
}

section.filters button {
    background-color: #FF5A5F;
    float: right;
	top: 11px;
	right: 30px;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
}

section.filters button:hover {
    opacity: .9;
}
